import React, { useState, useEffect } from 'react';
import styles from './{{kebabCase name}}.module.scss';

type {{pascalCase name}}PropTypes = {
};

export function {{pascalCase name}}(props : {{pascalCase name}}PropTypes) {
  const [state, setState] = useState({});

  useEffect(() => {

  }, []);

  return (
    <main className={ styles.{{snakeCase name}}_container }>
      {{pascalCase name}} Component says Hello word
    </main>
  );
}